# Q1. Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n
a. 100
b. 162.89 (Correct Answer)
c. 189
d. None of the above

# Ans. B

In [2]:
n=10
r=5
p=100

In [6]:
A=p*(1+5/100)**n
print(A)

162.8894626777442

# Q2. In a given string format operation, how will you print the given string.
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
a. print(string.format(a,b))
b. print(string+a+b)
c. print(string.format(b,a))
d. None of the above


# Ans : D . None of the above as correct answer would be  print(str.format(B,A))

In [2]:
A=10
B=20
str="There are {} students in the class, with {} who play at least one sport."

In [6]:
print(str.format(B,A))

There are 20 students in the class, with 10 who play at least one sport.

# Q3.. In a given sample string, How do you print a double quoted string in between a
regular
string using the escape character?
Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)
b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)
d. None of the above.

# Answer : A

In [11]:
print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

# Q4. What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)
a. 3.3333333333
b. 3
c. 30
d. 1000

# Ans : B

In [16]:
x=lambda a,b: a//b

In [17]:
x(10,3)

3

# Q5. What will be the output of the following code?
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
a. True
b. Smaller
c. Greater
d. None of the above

# Ans : C

In [50]:
A=10
B=12

In [51]:
print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

# Q6. What will be the output of the following code?
a. [2 7 3 5 4 6]
b. TypeError
c. NameError: name 'numpy' is not defined
d. None of the above

# Ans. C-- Getting name error 'numpy' is not defined

In [3]:
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1 = numpy.array(my_list,dtype = int)
print(arr_1)

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

# Q.7 Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
a. string[slice(13,8,1)]
b. string[slice(1,8,1)]
c. string[8:14]
d. string[slice(8,13,1)]

# Ans. D

In [4]:
string='Machine Learning'

In [11]:
string[slice(8,13,1)]

'Learn'

# Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the value 18?
a. 3
b. 2
c. 0
d. 1

# Ans. B

In [12]:
start = 10
end = 25
increment = 4

In [17]:
sequence = [num for num in range(start, end+1, increment)]
value_to_find = 18
index = sequence.index(value_to_find)
print(index)

2

# Q9. Which of the following is true with respect to the below codes?
a. num1 = num2
b. num1 ‚â† num2
c. num1 < num2
d. num1 > num2

# Ans. A

In [18]:
num1 = 5**4
num2 = pow(5,4)
print(num1,num2)

625 625

# Q10. A Python NameError exception is raised when: -
a. Trying to access a variable which has not been defined
b. Trying to access a key in a dictionary that does not exist
c. Accessing a column with misspelled column name
d. Accessing the function from a module that has not been imported
# Ans. A

# Q11. What type of exception will be raised for the code given below?
a. NameError
b. KeyError
c. ValueError
d. AttributeError

# Ans. C

In [20]:
x = 'string'
int(x)

ValueError: invalid literal for int() with base 10: 'string'

# Q12.A FileNotFoundError exception is raised by operating system errors when: -
a. Trying to create a file or directory which already exists
b. A file or directory is requested but does not exist in the working directory
c. Trying to run an operation without the adequate access rights
d. A directory operation, os.listdir() is requested on something which is not a directory

# Ans. B

# Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
a. Complex
b. Character
c. Integer
d. Boolean

# Ans. B

In [26]:
Z = "ID-5632"

In [27]:
type(Z)

str

# Q14.Which of the following variable(s) are character data type?
a. K= ‚Äú4‚Äù
b. J= ‚ÄúWelcome‚Äù
c. L= ‚Äú?‚Äù
d. All of the above

# Ans. D

In [30]:
K = "4"
J = "Welcome"
L = "?"

print(f"Data type of K: {type(K)}")
print(f"Data type of J: {type(J)}")
print(f"Data type of L: {type(L)}")

Data type of K: <class 'str'>
Data type of J: <class 'str'>
Data type of L: <class 'str'>

# Q15. Choose the symbol/s that does not have the ability to convert any values to string?
a. ( )
b. ‚Äú ‚Äù
c. {}
d. #

# Ans. D

# Q16. Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals respectively: 
Country India China Japan Qatar France
State Delhi Beijing Tokyo Doha Marseilles
Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

In [34]:
Country = {"India": "Delhi", "China": "Beijing", "Japan": "Tokyo", "Qatar": "Doha", "France": "Marseilles"}

In [37]:
Country.update({"France": "Paris"})
print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

In [38]:
Country["France"]="Paris"

In [39]:
print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

# Q17. Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
Identify which of the following code does not work on a tuple.
a. sum(tuple_1)
b. len(tuple_2)
c. tuple_2 + tuple_1
d. tuple_1[3] = 45

# Ans . D

In [40]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

In [44]:
tuple_1[3] = 45

TypeError: 'tuple' object does not support item assignment

# Q18. How many elements in the following data structure?

# Ans. 6

In [45]:
S={1,2,3,4,4,4,5,6}

In [47]:
len(S)

6

# Q19. Write a function which finds all pythagorean triplets of triangles whose sides are no greater than a natural number N.

In [48]:
def find_pythagorean_triplets(N):
    triplets = []
    for a in range(1, N + 1):
        for b in range(a, N + 1):
            c_squared = a**2 + b**2
            c = int(c_squared**0.5)
            if c <= N and c_squared == c**2:
                triplets.append((a, b, c))
    return triplets

N = 20
triplets = find_pythagorean_triplets(N)
for triplet in triplets:
    print(triplet)

(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(8, 15, 17)
(9, 12, 15)
(12, 16, 20)